.homePage {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  a {
    text-decoration: none;
  }
  .main {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 24px 48px 0;
    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .headerLeft {
        .buttons {
          margin-top: 20px;
        }
        .title {
          margin: 0;
          color: rgba(0, 0, 0, 0.9);
          font-weight: 700;
          font-size: 52px;
          line-height: 1;
          [data-prefers-color='dark'] & {
            color: unset;
          }
        }
        .description {
          color: rgba(0, 0, 0, 0.85);
          font-size: 20px;
          line-height: 28px;
          [data-prefers-color='dark'] & {
            color: unset;
          }
          .version {
            margin-left: 6px;
            padding: 4px 8px;
            color: #fff;
            font-weight: 700;
            font-size: 14px;
            background: #3978ff;
            border-radius: 10px;
          }
        }
        .buttons {
          margin-top: 28px;
          a {
            display: inline-block;
            margin-right: 14px;
            padding: 8px 20px;
            color: #3978ff;
            font-size: 16px;
            background-color: #fff;
            border: 1px solid #3978ff;
            border-radius: 100px;
            transition: 0.2s linear;
            &:hover {
              opacity: 0.8;
            }
          }
          a:first-child {
            color: #ffff;
            background-color: #3978ff;
          }
        }
      }
      .headerRight {
        display: flex;
        align-items: center;
        .plus {
          margin: 0 30px;
          font-size: 40px;
          -moz-user-select: -moz-none;
          -khtml-user-select: none;
          -webkit-user-select: none;
          -o-user-select: none;
          user-select: none;
        }
        .headerImage {
          z-index: 0;
          width: 250px;
          -moz-user-select: -moz-none;
          -khtml-user-select: none;
          -webkit-user-select: none;
          -o-user-select: none;
          user-select: none;
          pointer-events: none;
        }
      }
    }
    .group {
      margin-top: 90px;
      padding: 32px 0 24px;
    }
    .groupTitle {
      display: flex;
      margin-top: 12px;
      color: #697a8c;
      font-size: 24px;
      line-height: 32px;
      div {
        flex: 1 1;
        height: 1px;
        margin-top: 18px;
        border-top: 1px solid #ebf0f4;
      }
      span {
        margin: 0 10px;
      }
      [data-prefers-color='dark'] & span {
        color: #ebf0f4;
      }
    }
    ul.features {
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;
      padding: 0;
      li {
        width: 25%;
        margin-top: 24px;
        list-style: none;
        p {
          img {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
            pointer-events: none;
          }
        }
        p:nth-child(1) {
          margin: 0 auto;
          text-align: center;
        }
        p:nth-child(2) {
          width: 100%;
          height: 24px;
          margin-top: 30px;
          margin-bottom: 8px;
          color: rgba(0, 0, 0, 0.85);
          font-size: 16px;
          line-height: 24px;
          text-align: center;

          [data-prefers-color='dark'] & {
            color: unset;
          }
        }
        p:nth-child(3) {
          width: 75%;
          margin: 0 auto;
          color: #697a8c;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .homePage {
    .main {
      .header {
        .headerLeft {
          .title {
            font-size: 42px;
          }
          .description {
            font-size: 18px;
          }
          .buttons {
            a {
              font-size: 14px;
            }
          }
        }

        .headerRight {
          .headerImage {
            width: 200px;
          }
        }
      }
    }
  }
}
@media (max-width: 950px) {
  .homePage {
    .main {
      .header {
        .headerLeft {
          .title {
            font-size: 34px;
          }
          .description {
            font-size: 16px;
          }
        }

        .headerRight {
          .headerImage {
            width: 150px;
          }
        }
      }
      .group {
        margin-top: 45px;
      }
      ul.features {
        li {
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .homePage {
    .main {
      .header {
        flex-flow: column;
        .headerLeft {
          .title {
            text-align: center;
          }
          .description {
            text-align: center;
          }
          .buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
              margin-right: 0;
            }
          }
        }
        .headerRight {
          .headerImage {
            width: 120px;
          }
        }
      }
    }
  }
}
